<h1><a href = "artists/index.html">Artists:</a></h1><%= Artist.all.count %>

<h1><a href = "songs/index.html">Songs:</a></h1><%= Song.all.count %>

<h1><a href = "genres/index.html">Genres:</a></h1><%= Genre.all.count %>